<!doctype html>

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/pico.min.css')}}">
  <link rel="icon" href="{{ url_for('static', filename='images/punicaze.ico') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />

  <title>PuNiCa Pass widerrufen</title>
</head>

<body>
  <main class="container">
    <nav>
      <ul>
        <li><a href="/">PuNiCa-Pass</a> / <strong> widerrufen </strong></li>
      </ul>
    </nav>
    <form action="{{ url_for('api_pass_revoke') }}" method="post">
      <label for="pass_id">Pass ID</label>
      <input type="text" id="pass_id" name="pass_id" placeholder="Pass ID" required>

      <label for="admin_token">Admin-Password</label>
      <input type="password" id="admin_token" name="admin_token" placeholder="Admin-Password" required>

      <button type="submit">Pass widerrufen</button>
    </form>
  </main>
</body>

</html>
