<!doctype html>

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='css/pico.min.css')}}">
  <link rel="icon" href="{{ url_for('static', filename='images/punicaze.ico') }}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/sign.css')}}" />

  <title>PuNiCa Pass erstellen</title>
</head>

<body>
  <main class="container">
    <nav>
      <ul>
        <li><a href="/">PuNiCa-Pass</a> / <strong> erstellen </strong></li>
      </ul>
    </nav>
    <form action="{{ url_for('api_pass_sign') }}" method="post" enctype="multipart/form-data">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Vorname / Nachname" />

      <label for="comment">Kommentar</label>
      <input type="text" name="comment" placeholder="Kommentar" />

      <label for="entryDate">Eintrittsdatum</label>
      <input type="date" id="entryDate" name="entryDate">

      <fieldset>
        <legend>
          Mitgliedschaft
        </legend>
        <input type="checkbox" name="memberNil" id="gridRadios1" />
        <label for="gridRadios1">
          Nil
        </label>
        <input type="checkbox" name="memberCasino" id="gridRadios2" />
        <label for="gridRadios2">
          Casino
        </label>
        <input type="checkbox" name="memberPub" id="gridRadios3" disabled />
        <label for="gridRadios3">
          Pub
        </label>
      </fieldset>

      <label for="customFile">Bild</label>
      <input type="file" name="image" id="customFile" />

      <label for="password">Admin-Password</label>
      <input type="password" name="adminToken" placeholder="Admin-Password" />

      <button type="submit">Pass erstellen</button>
    </form>
  </main>
</body>

</html>
