
<html>
  <head>
    <style>
        img {
            visibility:hidden
        }
        button.html5-qrcode-element {
            font-size:5vw;
        }
        span.html5-qrcode-element {
            visibility:hidden
        }
    </style>
    <title>
        Verify PuNiCa Pass
    </title>
  <body>
    <div>
        <div>Letztes Resultat: </div>
        <div id="qr-reader-results-status">Validierung unbekannt für:</div>
        <div id="qr-reader-results-detail">Unbekannt</div>
        <div id="qr-reader-results-data">Unbekannt</div>
    </div>
    <div id="qr-reader" style="width:100%;height:100%;"></div>
  </body>
  <script type=text/javascript src="{{url_for('static', filename='html5-qrcode.min.js')}}"></script>
  <script type=text/javascript src="{{url_for('static', filename='verify.js')}}"></script>
  </head>
</html>
