<html>

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='verify.css')}}" />
  <title>
    Verify PuNiCa Pass
  </title>
  <script type=text/javascript src="{{url_for('static', filename='html5-qrcode.min.js')}}"></script>
  <script type=text/javascript src="{{url_for('static', filename='verify.js')}}"></script>
</head>

<body>
  <div style="width:100%;height:100%;">
    <div>Letztes Resultat: </div>
    <div id="qr-reader-results-status">Validierung unbekannt für:</div>
    <div id="qr-reader-results-detail">Unbekannt</div>
    <div id="qr-reader-results-data">Unbekannt</div>
    <div id="qr-reader"></div>
  </div>
</body>

</html>
